// Custom media query for background (.back) for section.initial
@media screen and (max-width: 1069px) {

  section.initial .wrapper{
    & > .back {
      opacity: .2;
    }
  }

}

// Custom media query
@media screen and (max-width: 1250px) {
  section.our .content .paragraphs p {
    width: 40%;
  }
}

/* Pantallas grandes (desktops de menos de 1200px) */
@media screen and (max-width: 1199px) {


  section.community .wrapper {

    align-items: center;

    .header, p, .stats {
      width: 100%;
    }
    .header { align-items: center; }
    
    p {
      max-width: 50rem;
      text-align: center;
    }

    .stats { justify-content: center; }

    .img-wrapper {
      position: relative;
      top: initial; right: initial;
      transform: initial;
      width: fit-content;
    }
  }

}


// Custom media query for section.groups
@media screen and (max-width: 1090px) {

  section.groups .content {
    grid-template-columns: 1fr;
    row-gap: 0;

    .group:nth-child(n) {
      & > img { width: 11rem; }

      .circle, .back { width: 16rem; height: 16rem; }

      .circle {
        &::after { transform-origin: 7.8rem 7.8rem; }
        &::before { transform-origin: -4rem -4rem; }
      }
    }
    
    .group:nth-child(1),
    .group:nth-child(3) { justify-self: end; }
    .group:nth-child(2),
    .group:nth-child(4) { justify-self: start; }

    &::before { opacity: .5; }
    &::after { background-color: $gray-4-color; }
  }
}


/* Pantallas medianas (tablets de menos de 992px) */
@media screen and (max-width: 991px) {

  section.our .content {
    gap: 5rem;

    .img:first-child {
      height: 18rem;
      background-image: url('../assets/svg/top-design-ourSection-mobile.svg');
      &::before {
        width: 17.3rem; height: 17.3rem;
        left: calc(50% - 8.65rem);
      }
    }

    .img:last-child {
      height: 16rem;
      background-image: url('../assets/svg/bottom-design-ourSection-mobile.svg');
      &::before {
        width: 15.3rem; height: 15.3rem;
        left: calc(50% - 7.65rem);
        bottom: .4rem;
        animation-direction: reverse;
      }
    }

    .paragraphs {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      position: relative;

      .arrow {
        content: ""; display: block;
        height: 130%; width: 1rem;
        position: absolute;
        top: 50%; left: 50%;
        
        background-size: cover;
        background-repeat: no-repeat;

        &::after {
          content: ""; display: block;
          width: .7rem; height: .7rem;
          position: absolute;
          background-color: $gray-9-color;
          border-radius: 50%;
        }
      }
      .arrow:nth-child(1) {
        background-image: url('../assets/svg/arrow-up.svg');
        transform: translate(calc(-50% - 2rem), calc(-50% - .1rem));
        
        &::after {
          left: 50%; bottom: 0;
          transform: translate(-50%, 50%);
        }
      }
      .arrow:nth-child(2) {
        background-image: url('../assets/svg/arrow-down.svg');
        transform: translate(calc(-50% + 2rem), calc(-50% + .1rem));
        background-position: bottom;

        &::after {
          left: 50%; top: 0;
          transform: translate(-50%, -50%);
        }
      }

      p {
        width: 80%;
        z-index: 10;
      }
    }
  }
}


@media screen and (max-width: 860px) {
  // cambios del menú y nav
  header {
    .menu, .lateral-menu { display: flex; }

    nav, .session-options { display: none; }

  }
}


/* Pantallas pequeñas (móviles en landscape de menos de 768px) */
@media screen and (max-width: 767px) {


  section.groups .content {
    row-gap: 4rem;

    .group:nth-child(n) {

      .circle, .back { width: 14rem; height: 14rem; }

      .circle {
        &::after { transform-origin: 6.8rem 6.8rem; }
        &::before { transform-origin: -3.5rem -3.5rem; }
      }
    }
    
    .group:nth-child(1),
    .group:nth-child(3) { justify-self: end; }
    .group:nth-child(2),
    .group:nth-child(4) { justify-self: start; }

    &::before { opacity: .5; }
    &::after { background-color: $gray-4-color; }
  }

}


@media screen and (max-width: 650px) {
  
  
  section.community .wrapper {

    .header {
      text-align: center;
    }

    .img-wrapper {
      width: 100%; height: auto;

      img { width: 100%; height: auto; }
      .ping { width: .5rem; height: .5rem; }
    }
  }

}


/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media screen and (max-width: 575px) {

  section.initial .wrapper {
    & > .row {
      gap: 1rem;
      flex-direction: column;
      a:first-child { align-self: flex-start; }
      a:last-child {
        align-self: flex-end;
        padding: 0 2.8rem;
      }
    }
  }

  section.our .content {
    .paragraphs .arrow {
      height: 120%;
    }
  }

}