// Aqui se centralizan todos los archivos .scss
// Y se definen los estilos más específicos de la web
@import "normalized";
@import "utils";

@import "variables";
@import "custom";

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;
  color: $gray-9-color;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden;
}

p, span {
  font-size: 1rem;
}

span::selection,
div::selection,
a::selection,
p::selection {
  background-color: $secondary-color;
  color: $primary-color;
  background-clip: initial;
  -webkit-background-clip: initial;
  text-fill-color: initial;
  -webkit-text-fill-color: initial;
}

section, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-style-3 {
  font-variant-ligatures: no-historical-ligatures;
  font-feature-settings: "ss01" 0, "ss02" 0, "ss03";
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  padding: 0 2rem;
}

.btn {
  position: relative; right: 0px;

  display: flex; gap: .8rem;
  align-items: center;
  justify-content: center;

  height: 3.4rem;
  padding: 0 2rem;
  border-radius: 1.7rem;
  font-weight: 600;

  transition: box-shadow .2s, background-position-x .4s cubic-bezier(0, .17, 0, 1), opacity .2s;

  span { width: max-content; }
  img { height: 1.6rem; }
}

.btn-light {
  background-color: $secondary-color;
  background: linear-gradient(-60deg, $secondary-color 37.31%, #ffffffcc 51.29%, $secondary-color 64.08%);
  background-size: 200%;
  background-position-x: 120%;

  color: $primary-color;
  box-shadow: 0 0 0 #ffffffbb;

  &:hover {
    box-shadow: 0 0 15px #ffffffbb;
    background-position-x: 50%;
  }
}

.btn-dark {
  background-color: #000;
  background: linear-gradient(-60deg, #000000 37.31%, #292929 51.29%, #000000 64.08%);
  background-size: 200%;
  background-position-x: 120%;

  color: $secondary-color;
  border: 1px solid $gray-9-color;

  &:hover {
    box-shadow: 0 0 15px #ffffff55, inset 0 0 6px 1px #ffffff88;
    background-position-x: 50%;
  }
}

section .wrapper > .header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .subtitle {
    font-size: 1.2rem;
    color: $gray-4-color;
    // font-weight: 600;
  }

  .title {
    font-size: 3rem;
    font-weight: 800;
    font-feature-settings: 'ss03';
    color: $secondary-color;
    text-align: center;
    span {
      font-size: inherit;
    }
  }

  p {
    color: $gray-9-color;
    margin-top: 2.6rem;
    line-height: 180%;
    letter-spacing: .5px;
    word-spacing: 1px;
  }
}


header {
  position: relative;
  z-index: 30;
  height: 6rem;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: .9rem;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(20, 20, 20, 40%);
    backdrop-filter: blur(7px);
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .brand {
    display: flex; gap: .5rem;
    align-items: center;

    img:first-child { height: 3.5rem; }
    img:last-child { height: 1.7rem; }
  }

  nav{
    height: fit-content;

    ul { display: flex; gap: 2rem; }

    a {
      color: $gray-6-color;
      position: relative;
      padding: .5rem 0;

      &.active { color: $secondary-color; }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        display: block;
        width: 0%;
        height: 3px;
        background-color: $gray-6-color;
        left: 50%;
        transition: width .1s, left .1s;
      }
      &.active::after {
        width: 100%;
        background-color: $secondary-color;
        left: 0px;
      }

      &:hover::after {
        width: 100%;
        left: 0px;
      }
    }
  }

  .session-options {
    display: flex; gap: 1rem;
    align-items: center;

    a:first-child {
      font-weight: 600;
      background-color: $secondary-color;
      color: $primary-color;
      padding: .5rem .8rem;
      border: 1px solid $secondary-color;
      border-radius: 6px;
      transition: background-color .2s, border-color .2s, color .2s;
    }
    a:first-child:hover {
      border-color: $secondary-color;
      background-color: $primary-color;
      color: $secondary-color;
    }

    a:last-child { color: $gray-6-color; }
    a:last-child:hover { color: $gray-9-color; }

  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 3.0rem; height: 2.0rem;
    cursor: pointer;

    .line {
      position: relative;

      height: .3rem;
      background-color: $gray-9-color;
      border-radius: 0.15rem;
      transition: all .2s ease-in-out;
    }
    .line:nth-child(1) {
      width: 100%;
      top: 0; left: 0;
      transform-origin: bottom left;
    }
    .line:nth-child(2) {
      width: 75%;
      left: 0;
    }
    .line:nth-child(3) {
      width: 50%;
      bottom: 0;
    }

    &.active {
      .line:nth-child(1) {
        transform: rotate(45deg);
        left: 10%; top: -12%;
      }
      .line:nth-child(3) {
        width: 100%;
        transform: rotate(-45deg);
        bottom: 42%;
      }
      .line:nth-child(2) {
        width: 0%;
        left: -50%;
      }
    }

    &.active ~ .lateral-menu {
      left: 0%;
    }
  }

  .lateral-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; height: calc(100vh - 6rem);
    position: absolute;
    top: 6rem; left: 100%;

    background-color: #222222cc;
    backdrop-filter: blur(7px);
    transition: left .5s ease-in-out;

    li {
      transition: background-color .2s;
      &:hover {
        background-color: rgba(0 ,0 ,0, .4);
      }
      & > a {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        font-size: 1.3rem;
        font-weight: 800;
        letter-spacing: 2px;
        color: $gray-7-color;
        padding: 1rem 0;
        border-bottom: 1rem solid $primary-color;
        transition: color .3s, text-shadow .3s;

        &.active {
          text-decoration: line-through;
          color: $secondary-color;
        }

        &:not(.active) {
          &:hover {
            color: $gray-9-color;
            text-shadow: 0 0 10px #ffffff88;
          }
        }

        span {
          position: relative;
          transition: width .3s, left .3s;
        }
      }
    }


    .lat-session-options {
      display: flex; gap: 1rem;
      flex-direction: column;
      padding: 2rem;

      a {
        font-size: 1rem;
        height: auto;
        padding: 1rem 0;
        border-radius: 3rem;
      }
    }
  }
}

section.initial {
  height: calc(100vh - 6rem);
  min-height: 590px;
  background: radial-gradient(circle, #00000088 0%, $primary-color 50%);

  & > .wrapper {
    position: relative;
    height: 100%;

    display: flex; gap: 3rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .header {
    display: initial;
    font-size: 2rem;
    font-feature-settings: 'ss03';
    color: $secondary-color;
    text-align: right;
    span {
      font-size: inherit;
    }
    .highlight {
      font-size: 4rem;
      font-weight: 800;
      .hand {
        width: 4rem;
        transform: rotate(0deg);
        transform-origin: 90% 90%;
      }
    }

    .hand.first-animate {
      animation: hi 1.2s ease-in-out 1s;
    }
    .hand.animate {
      animation: hi 1.2s ease-in-out;
    }
    @keyframes hi {
      0% { transform: rotate(0deg); }
      4% { transform: rotate(-10deg); }
      20% { transform: rotate(10deg); }
      36% { transform: rotate(-10deg); }
      52% { transform: rotate(10deg); }
      68% { transform: rotate(-10deg); }
      84% { transform: rotate(10deg); }
      100% { transform: rotate(0deg); }
    }
  }

  .wrapper-quote {
    position: relative;
    z-index: 0;
    top: 0; left: 0;
    // background-color: red;

    .back-quote {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;

      &::before, &::after {
        content: ""; display: block;
        width: 12rem; height: 8rem;

        position: absolute;
        background: radial-gradient(50% 50% at 50% 50%, #959595 0%, rgba(24, 24, 24, 0) 100%);
        filter: blur(20px);
      }

      @keyframes move-light-quote-before {
        0% { top: -3rem; left: -4rem; }
        35% { top: -3rem; left: calc(100% - 8rem); }
        50% { top: calc(100% - 4.5rem); left: calc(100% - 8rem); }
        85% { top: calc(100% - 4.5rem); left: -4rem; }
        100% { top: -3rem; left: -4rem; }
      }
      @keyframes move-light-quote-after {
        0% { bottom: -3rem; right: -4rem; }
        35% { bottom: -3rem; right: calc(100% - 8rem); }
        50% { bottom: calc(100% - 4.5rem); right: calc(100% - 8rem); }
        85% { bottom: calc(100% - 4.5rem); right: -4rem; }
        100% { bottom: -3rem; right: -4rem; }
      }

      &::before {
        top: -3rem; left: -4rem;
        animation: move-light-quote-before 30s linear infinite;
      }
      &::after {
        bottom: -3rem; right: -4rem;
        animation: move-light-quote-after 30s linear infinite;

      }
    }
  }

  .quote {
    position: relative;
    background-color: #18181888;
    backdrop-filter: blur(8px);

    padding: 2rem 3rem;
    color: $gray-6-color;
    border: 1px solid $gray-4-color;
    border-radius: .5rem;
    text-align: right;

    p {
      letter-spacing: .2px;
      word-spacing: 2px;
      font-size: 1.4rem;
    }
    span {
      font-weight: 700;
      color: $gray-9-color;
      font-size: inherit;
    }

    .autor {
      margin-top: 1.2rem;
      font-size: 1rem;
    }
  }

  .row {
    width: 100%;
    display: flex;
    gap: 1.8rem;
    justify-content: end;
    position: relative;
    z-index: 5;

    margin-top: 2rem;

    .btn {
      min-width: 14.7rem;
    }
  }

  .back {
    width: 30rem;
    position: absolute;
    bottom: 0px; left: 0px;

    transition: opacity 5s;

    &::before {
      content: ""; display: block;
      width: 50rem; height: 50rem;
      position: absolute;
      bottom: -13rem; left: 3rem;
      background: radial-gradient(circle, #ffffff88 0%,  #00000000 50%, #00000000 100%);
      border-radius: 50%;
      filter: blur(50px);
    }
    &::after {
      content: ""; display: block;
      width: 50rem; height: 50rem;
      position: absolute;
      bottom: -10rem; left: -20rem;
      background: radial-gradient(circle, #00000077 0%, #76767600 50%, #76767600 100%);
      border-radius: 50%;
    }
    img {
      position: absolute;
      bottom: -13rem; left: 0px;
      width: 90%;
      transform: rotate(16deg);
    }
  }

  .header, .wrapper-quote, .row {
    position: relative;
    z-index: 20;
  }

}

section.our {
  background: radial-gradient(circle, #00000088 0%, $primary-color 50%);

  .wrapper {
    padding-top: 10rem;
    padding-bottom: 5rem;
    display: flex; gap: 5rem;
    flex-direction: column;
    align-items: center;
  }

  .header {
    .title span {
      font-size: 4.5rem;

      background: linear-gradient(90deg, #FA544F 0%, #F7BA44 100%);
      background-clip: text;
      -webkit-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 0px 25px rgba(249, 126, 74, 0.8);
    }
    p {
      text-align: center;
      max-width: 1000px;
    }
  }

  .content {
    position: relative;
    width: 100%;
    display: flex; gap: 1rem;
    flex-direction: column;
    align-items: center;

    .img {
      position: relative;
      width: 54rem; height: 19rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &::before{
        content: ""; display: block;
        position: absolute;

        background-image: url('../assets/svg/ellipse-dotted.svg');
        background-size: contain;
        background-repeat: no-repeat;

        transform: rotate(0deg);
        animation: rotate0 40s linear infinite;
      }
    }

    .img:first-child {
      background-image: url('../assets/svg/top-design-ourSection.svg');
      &::before {
        width: 17.2rem; height: 17.2rem;
        left: calc(50% - 8.6rem);
        top: .3rem;
      }
    }
    .img:last-child {
      background-image: url('../assets/svg/bottom-design-ourSection.svg');
      &::before {
        width: 14.76rem; height: 14.76rem;
        left: calc(50% - 7.35rem);
        bottom: .6rem;
        animation-direction: reverse;
      }
    }

    .paragraphs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 1.8rem;

      text-align: center;
      font-weight: 300;
      color: $gray-9-color;
      line-height: 180%;
      letter-spacing: 1px;
      word-spacing: 2px;

      .arrow {
        display: none;
      }

      p {
        background-color: #222;
        padding: 1rem 2rem;
        border-radius: .5rem;
        border: 4px double #666;
        width: 31rem;
      }

      span {
        font-weight: 700;
        color: $secondary-color;
      }
    }
  }

}

section.groups {
  background: radial-gradient(circle, #00000088 0%, $primary-color 50%);

  .wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .header .title span {
    background: linear-gradient(90deg, #7D22C2 0%, #F40082 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .header > p {
    max-width: 1000px;
    text-align: center;
  }

  .content {
    position: relative;
    margin-top: 5rem;
    padding: 5rem 0;
    display: grid;
    place-items: center;
    row-gap: 10rem;
    grid-template-columns: 1fr 1fr;

    .group {
      position: relative;
      display: grid;
      row-gap: 1rem;
      width: fit-content;
      grid-auto-rows: auto;

      .back {
        height: 18rem; width: 18rem;
        position: absolute;

        left: 50%; top: 50%;
        transform: translate(-50%, -50%);

        border: 1px solid $gray-4-color;
        border-radius: 50%;
        background-color: rgba(24, 24, 24, 0.5);;
        backdrop-filter: blur(2px);
        z-index: 10;
      }
      .circle {
        height: 18rem; width: 18rem;
        position: absolute;

        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;

        &::before {
          content: ""; display: block;
          width: 20%; height: 20%;

          position: absolute;
          bottom: 12px; right: 12px;
          z-index: -1;
          border: 1px solid $gray-7-color;
          border-radius: 50%;
          filter: blur(1px);

          transform-origin: -4.5rem -4.5rem;
          transform: rotate(0deg);
          animation: rotate0 50s linear infinite;
        }

        &::after {
          content: ""; display: block;
          width: 30%; height: 30%;

          position: absolute;
          top: 5px; left: 5px;
          z-index: -1;
          border-radius: 50%;
          background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);;
          filter: blur(5px);
          transform-origin: 8.5rem 8.5rem;
          transform: rotate(0deg);
          animation: rotate0 50s linear infinite;
        }
      }

      h1 {
        font-size: 1.6rem;
        font-weight: 800;
        color: $secondary-color;
        letter-spacing: .5px;
        word-spacing: 1px;
        z-index: 20;
        img { width: 1.6rem; }
      }
      p {
        font-size: .9rem;
        color: $gray-7-color;
        width: 90%;
        z-index: 20;
      }
      & > a {
        height: 2.8rem;
        width: fit-content;
        gap: .5rem;
        padding: 0 1.5rem;
        border-radius: 1.4rem;

        font-size: .9rem;
        font-weight: 700;
        color: $primary-color;
        z-index: 20;
      }
      h1, p, & > a {
        opacity: .8;
        position: relative;
        z-index: 30;
      }
      & > img {
        align-self: center;
        width: 14rem;
        border-radius: 50%;
        border: 2px solid $gray-8-color;
        z-index: 20;

        filter: brightness(.7);
        transition: filter .4s;
      }
      &:hover > img {
        filter: brightness(1) contrast(1.1) saturate(1.1);
      }
      &:hover > h1,
      &:hover > p,
      &:hover > a { opacity: 1; }
    }
    .group:nth-child(odd) {
      text-align: right;
      justify-items: end;
      grid-template-columns: auto 16rem;
      h1 { grid-column: 2; grid-row: 1; }
      p { grid-column: 2; grid-row: 2; }
      a { grid-column: 2; grid-row: 3; }
      img { grid-column: 1; grid-row: 1 / 4; }
    }
    .group:nth-child(even) {
      grid-template-columns: 16rem auto;
      h1 { grid-column: 1; grid-row: 1; }
      p { grid-column: 1; grid-row: 2; }
      a { grid-column: 1; grid-row: 3; }
      img { grid-column: 2; grid-row: 1 / 4; }
    }

    &::before {
      content: ""; display: block;
      width: 1rem; height: 100%;
      position: absolute;
      top: 0rem; left: 50%;
      transform: translateX(-50%);

      background-image: url('../assets/svg/vertical-line-down.svg');
      background-position: center bottom;
      background-size: .8rem auto;
      background-repeat: no-repeat;

      transition: opacity .3s;
    }
    &::after {
      content: ""; display: block;
      width: .7rem; height: .7rem;
      position: absolute;
      top: 0rem; left: 50%;
      transform: translateX(-50%);

      background-color: $gray-9-color;
      border-radius: 50%;

      transition: background-color 3s;
    }
  }

  .row {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    & > a { width: fit-content; }
  }
}

section.community {

  .wrapper {
    position: relative;
    padding-top: 6rem; padding-bottom: 6rem;
    display: flex; gap: 2rem;
    flex-direction: column;
  }

  .header, p,
  .stats {
    width: 48%;
  }

  .header {
    align-items: flex-start;
    .title span {
      background: linear-gradient(90deg, #09CB85 0%, #EAD625 100%);
      background-clip: text;
      -webkit-background-clip: text;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    line-height: 2rem;
    letter-spacing: .5px;
    word-spacing: 1px;
    color: $gray-7-color;
    span {
      color: $secondary-color;
      font-weight: 700;
    }
  }

  .stats {
    display: flex;
    gap: 1.8rem 4rem;
    flex-wrap: wrap;

    .stat {
      display: flex; gap: .3rem;
      flex-direction: column;
      align-items: center;

      span:first-child {
        font-size: 1.3rem;
        font-variant-numeric: tabular-nums;
        color: $gray-9-color;
      }
      span:last-child {
        color: $gray-5-color;
      }
    }
  }

  .img-wrapper {
    position: absolute;
    right: 2rem; top: 50%;
    transform: translateY(-50%);
    height: 24rem;

    img {
      height: 100%;
    }

    .ping {
      width: .7rem;
      height: .7rem;
      background-color: #81D152;
      box-shadow: 0 0 5px 1px #b5ff8b;
      border-radius: 50%;
      transform: scale(0);

      position: absolute;
      &:nth-child(2) {
        top: 48.6%; left: 12%;
        animation: map-move 20s linear infinite;
      }
      &:nth-child(3) {
        top: 48.6%; left: 12%;
        animation: map-move 20s linear 7s infinite;
      }
      &:nth-child(4) {
        top: 48.6%; left: 12%;
        animation: map-move 20s linear 14s infinite;
      }
    }


  }

}

section.blog {
  background: radial-gradient(circle, #00000088 0%, $primary-color 50%);

  .wrapper {
    padding-top: 6rem; padding-bottom: 6rem;

    & > .content {
      width: 100%;
      margin-top: 4rem;
      display: grid; gap: 3rem;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      grid-auto-rows: 1fr;
    }

    & > .header {

      .title span {
        background: linear-gradient(90deg, #227FEB 0%, #31DBD8 100%);
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
      }

      & > p {
        max-width: 1000px;
        text-align: center;
      }

      .row {
        width: 100%;
        display: flex; gap: 1rem 2rem;
        justify-content: center;
        margin-top: 3rem;
        flex-wrap: wrap;
        a { flex: 0 0 16rem;}
      }
    }

    article.post {
      --border-radius: 8px;
      position: relative;
      width: 100%;
      border-radius: var(--border-radius);
      border: 1px solid $gray-4-color;
      cursor: pointer;

      transition: box-shadow .2s;

      &::after {
        content: ""; display: block;
        width: 100%; height: 100%;

        position: absolute;
        // top: 0px; left: 0px;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;

        transition: all .2s;

        border-radius: var(--border-radius);
        border: 2px solid $gray-9-color;
      }

      .img {
        width: inherit;
        height: 15rem;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        overflow: hidden;
        &::after {
          content: ""; display: block;
          width: 100%; height: 100%;
          transform: scale(1.1);
          opacity: .8;
          filter: grayscale(.2);

          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: all .2s;
        }
      }

      .content {
        padding: 1.8rem 1.5rem;
        display: flex; gap: .8rem;
        flex-direction: column;

        .top {
          display: flex;
          justify-content: space-between;
          font-size: .8rem;
          color: $gray-6-color;
        }
        .title {
          font-size: 1.4rem;
          font-weight: 800;
          color: $secondary-color;
        }
        .description {
          font-size: .9rem;
          line-height: 1.3rem;
          word-spacing: 1px;
        }
      }

      &:hover::after {
        --padding-extra: 7px;
        --new-size: calc(100% + (var(--padding-extra) * 2));
        width: var(--new-size); height: var(--new-size);
        // top: calc(-.4rem - 2px); left: calc(-.4rem - 2px);
        border-radius: calc(var(--border-radius) + var(--padding-extra));
        opacity: 1;
        box-shadow: 0 0 15px #ffffff55;
      }
      &:hover .img::after {
        filter: grayscale(0) saturate(1.1) contrast(1.1);
        opacity: 1;
        transform: scale(1);
      }
    }
  }

}

footer {
  .wrapper {
    display: grid; row-gap: 2rem;
    grid-template-columns: 1fr auto;

    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .brand {
    display: flex;
    gap: .5rem;
    align-items: center;

    img:first-child { height: 3.5rem; }
    img:last-child { height: 1.5rem; }
  }

  .links {
    display: flex; gap: 0 .5rem;
    align-items: center;
    font-weight: 600;
    a {
      padding: 1rem 2rem;
      color: $gray-8-color
    }
    a:hover { color: $secondary-color; }
  }

  .copyright {
    font-size: .9rem;
    color: $gray-6-color;
    opacity: 0;
  }

  .by {
    justify-self: end;
    font-size: .7rem;
    color: $gray-4-color;
    text-align: right;
    a { color: $gray-6-color }
    a:hover { color: $gray-9-color }
  }
}

@import "media-queries";