@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input:focus {
  outline: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

button {
  border-style: solid;
}

/* COLORS */
/* #region Greyscale*/
/* #endregion */
/* #region Basics Colors*/
/* #endregion */
@font-face {
  font-family: "Jakarta";
  src: url("/assets/fonts/PlusJakartaSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Jakarta";
  src: url("/assets/fonts/PlusJakartaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jakarta";
  src: url("/assets/fonts/PlusJakartaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Jakarta";
  src: url("/assets/fonts/PlusJakartaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Jakarta";
  src: url("/assets/fonts/PlusJakartaSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@keyframes rotate0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate180 {
  0% {
    transform: rotate(180deg);
  }
  25% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes map-move {
  0% {
    top: 19.7%;
    left: 23%;
    transform: scale(1);
  }
  10% {
    top: 42%;
    left: 31%;
    transform: scale(1);
  }
  11% {
    top: 42%;
    left: 31%;
    transform: scale(0);
  }
  12% {
    top: 44.2%;
    left: 39.2%;
    transform: scale(0);
  }
  13% {
    top: 44.2%;
    left: 39.2%;
    transform: scale(1);
  }
  21% {
    top: 15.1%;
    left: 57.1%;
    transform: scale(1);
  }
  22% {
    top: 15.1;
    left: 57.1%;
    transform: scale(0);
  }
  23% {
    top: 14.2%;
    left: 67.1%;
    transform: scale(0);
  }
  24% {
    top: 14.2%;
    left: 67.1%;
    transform: scale(1);
  }
  32% {
    top: 51.2%;
    left: 88.7%;
    transform: scale(1);
  }
  33% {
    top: 51.2%;
    left: 88.7%;
    transform: scale(0);
  }
  34% {
    top: 61.8%;
    left: 86.2%;
    transform: scale(0);
  }
  35% {
    top: 61.8%;
    left: 86.2%;
    transform: scale(1);
  }
  43% {
    top: 64.7%;
    left: 73.8%;
    transform: scale(1);
  }
  44% {
    top: 64.7%;
    left: 73.8%;
    transform: scale(0);
  }
  45% {
    top: 72%;
    left: 61%;
    transform: scale(0);
  }
  46% {
    top: 72%;
    left: 61%;
    transform: scale(1);
  }
  54% {
    top: 85%;
    left: 44%;
    transform: scale(1);
  }
  55% {
    top: 85%;
    left: 44%;
    transform: scale(0);
  }
  56% {
    top: 86%;
    left: 31.7%;
    transform: scale(0);
  }
  57% {
    top: 86%;
    left: 31.7%;
    transform: scale(1);
  }
  65% {
    top: 80.1%;
    left: 21.3%;
    transform: scale(1);
  }
  66% {
    top: 80.1%;
    left: 21.3%;
    transform: scale(0);
  }
  67% {
    top: 68.8%;
    left: 21%;
    transform: scale(0);
  }
  68% {
    top: 68.8%;
    left: 21%;
    transform: scale(1);
  }
  76% {
    top: 59%;
    left: 29%;
    transform: scale(1);
  }
  77% {
    top: 59%;
    left: 29%;
    transform: scale(0);
  }
  78% {
    top: 51.5%;
    left: 26.8%;
    transform: scale(0);
  }
  79% {
    top: 51.5%;
    left: 26.8%;
    transform: scale(1);
  }
  87% {
    top: 48.6%;
    left: 12.2%;
    transform: scale(1);
  }
  88% {
    top: 48.6%;
    left: 12.2%;
    transform: scale(0);
  }
  89% {
    top: 37.9%;
    left: 6.8%;
    transform: scale(0);
  }
  90% {
    top: 37.9%;
    left: 6.8%;
    transform: scale(1);
  }
  97% {
    top: 20.1%;
    left: 14.8%;
    transform: scale(1);
  }
  98% {
    top: 20.1%;
    left: 14.8%;
    transform: scale(0);
  }
  99% {
    top: 19.7%;
    left: 23%;
    transform: scale(0);
  }
  100% {
    top: 19.7%;
    left: 23%;
    transform: scale(1);
  }
}
html {
  font-size: 16px;
}

body {
  background-color: #141414;
  color: #E6E6E6;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

span::selection,
div::selection,
a::selection,
p::selection {
  background-color: #fff;
  color: #141414;
  background-clip: initial;
  -webkit-background-clip: initial;
  text-fill-color: initial;
  -webkit-text-fill-color: initial;
}

section, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1240px;
  padding: 0 2rem;
}

.btn {
  position: relative;
  right: 0px;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  height: 3.4rem;
  padding: 0 2rem;
  border-radius: 1.7rem;
  font-weight: 600;
  transition: box-shadow 0.2s, background-position-x 0.4s cubic-bezier(0, 0.17, 0, 1), opacity 0.2s;
}
.btn span {
  width: max-content;
}
.btn img {
  height: 1.6rem;
}

.btn-light {
  background-color: #fff;
  background: linear-gradient(-60deg, #fff 37.31%, rgba(255, 255, 255, 0.8) 51.29%, #fff 64.08%);
  background-size: 200%;
  background-position-x: 120%;
  color: #141414;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.7333333333);
}
.btn-light:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7333333333);
  background-position-x: 50%;
}

.btn-dark {
  background-color: #000;
  background: linear-gradient(-60deg, #000000 37.31%, #292929 51.29%, #000000 64.08%);
  background-size: 200%;
  background-position-x: 120%;
  color: #fff;
  border: 1px solid #E6E6E6;
}
.btn-dark:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3333333333), inset 0 0 6px 1px rgba(255, 255, 255, 0.5333333333);
  background-position-x: 50%;
}

section .wrapper > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .wrapper > .header .subtitle {
  font-size: 1.2rem;
  color: #4D4D4D;
}
section .wrapper > .header .title {
  font-size: 3rem;
  font-weight: 800;
  font-feature-settings: "ss03";
  color: #fff;
}
section .wrapper > .header p {
  color: #E6E6E6;
  margin-top: 2.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

header {
  position: relative;
  z-index: 30;
  height: 6rem;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 0.9rem;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .brand {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
header .brand img:first-child {
  height: 3.5rem;
}
header .brand img:last-child {
  height: 1.7rem;
}
header nav {
  height: fit-content;
}
header nav ul {
  display: flex;
  gap: 2rem;
}
header nav a {
  color: #999999;
  position: relative;
  padding: 0.5rem 0;
}
header nav a.active {
  color: #fff;
}
header nav a::after {
  content: "";
  position: absolute;
  top: 100%;
  display: block;
  width: 0%;
  height: 3px;
  background-color: #999999;
  left: 50%;
  transition: width 0.1s, left 0.1s;
}
header nav a.active::after {
  width: 100%;
  background-color: #fff;
  left: 0px;
}
header nav a:hover::after {
  width: 100%;
  left: 0px;
}
header .session-options {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header .session-options a:first-child {
  font-weight: 500;
  background-color: #fff;
  color: #141414;
  padding: 0.5rem 0.8rem;
  border: 1px solid #fff;
  border-radius: 6px;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}
header .session-options a:first-child:hover {
  border-color: #fff;
  background-color: #141414;
  color: #fff;
}
header .session-options a:last-child {
  color: #999999;
}
header .session-options a:last-child:hover {
  color: #E6E6E6;
}
header .menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 3.5rem;
  height: 2.3rem;
  cursor: pointer;
}
header .menu .line {
  position: relative;
  height: 0.3rem;
  background-color: #E6E6E6;
  transition: all 0.2s ease-in-out;
}
header .menu .line:nth-child(1) {
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: bottom left;
}
header .menu .line:nth-child(2) {
  width: 75%;
  left: 0;
}
header .menu .line:nth-child(3) {
  width: 50%;
  bottom: 0;
}
header .menu.active .line:nth-child(1) {
  transform: rotate(45deg);
  left: 10%;
  top: -12%;
}
header .menu.active .line:nth-child(3) {
  width: 100%;
  transform: rotate(-45deg);
  bottom: 42%;
}
header .menu.active .line:nth-child(2) {
  width: 0%;
  left: -50%;
}
header .menu.active ~ .lateral-menu {
  left: 0%;
}
header .lateral-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 6rem);
  padding-bottom: 1rem;
  position: absolute;
  top: 6rem;
  left: 100%;
  background-color: rgba(34, 34, 34, 0.8);
  backdrop-filter: blur(3px);
  transition: left 0.5s ease-in-out;
}
header .lateral-menu li > a {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 4px;
  color: #B3B3B3;
  padding: 3rem 0;
  border-bottom: 1rem solid #141414;
  font-feature-settings: "ss01";
  transition: color 0.3s, text-shadow 0.3s;
}
header .lateral-menu li > a.active {
  text-decoration: line-through;
  color: #fff;
}
header .lateral-menu li > a span {
  position: relative;
}
header .lateral-menu li > a:not(.active) span::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + 0.5rem);
  width: 0rem;
  height: 2px;
  background-color: #B3B3B3;
  left: 50%;
  transition: width 0.3s, left 0.3s;
}
header .lateral-menu li > a:not(.active):hover {
  color: #E6E6E6;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5333333333);
}
header .lateral-menu li > a:not(.active):hover span::after {
  width: 100%;
  left: 0px;
  background-color: #E6E6E6;
}
header .lateral-menu .lat-session-options {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;
}
header .lateral-menu .lat-session-options a {
  font-size: 1.2rem;
  height: auto;
  padding: 1.5rem 0;
  border-radius: 3rem;
  font-feature-settings: "ss01";
}

section.initial {
  height: calc(100vh - 6rem);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5333333333) 0%, #141414 50%);
}
section.initial > .wrapper {
  position: relative;
  height: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
section.initial .header {
  display: initial;
  font-size: 2rem;
  font-feature-settings: "ss03";
  color: #fff;
  text-align: right;
}
section.initial .header span {
  font-size: 4rem;
  font-weight: 800;
}
section.initial .header img {
  width: 4rem;
  margin-right: 0.8rem;
  transform: rotate(0deg);
  transform-origin: 90% 90%;
  animation: hi 1.2s ease-in-out 1s;
}
section.initial .header img:focus {
  animation: hi 1.2s ease-in-out;
}
@keyframes hi {
  0% {
    transform: rotate(0deg);
  }
  4% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  36% {
    transform: rotate(-10deg);
  }
  52% {
    transform: rotate(10deg);
  }
  68% {
    transform: rotate(-10deg);
  }
  84% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
section.initial .wrapper-quote {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
}
section.initial .wrapper-quote .back-quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.initial .wrapper-quote .back-quote::before, section.initial .wrapper-quote .back-quote::after {
  content: "";
  display: block;
  width: 12rem;
  height: 8rem;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, #959595 0%, rgba(24, 24, 24, 0) 100%);
  filter: blur(20px);
}
@keyframes move-light-quote-before {
  0% {
    top: -3rem;
    left: -4rem;
  }
  35% {
    top: -3rem;
    left: calc(100% - 8rem);
  }
  50% {
    top: calc(100% - 4.5rem);
    left: calc(100% - 8rem);
  }
  85% {
    top: calc(100% - 4.5rem);
    left: -4rem;
  }
  100% {
    top: -3rem;
    left: -4rem;
  }
}
@keyframes move-light-quote-after {
  0% {
    bottom: -3rem;
    right: -4rem;
  }
  35% {
    bottom: -3rem;
    right: calc(100% - 8rem);
  }
  50% {
    bottom: calc(100% - 4.5rem);
    right: calc(100% - 8rem);
  }
  85% {
    bottom: calc(100% - 4.5rem);
    right: -4rem;
  }
  100% {
    bottom: -3rem;
    right: -4rem;
  }
}
section.initial .wrapper-quote .back-quote::before {
  top: -3rem;
  left: -4rem;
  animation: move-light-quote-before 30s linear infinite;
}
section.initial .wrapper-quote .back-quote::after {
  bottom: -3rem;
  right: -4rem;
  animation: move-light-quote-after 30s linear infinite;
}
section.initial .quote {
  position: relative;
  background-color: rgba(24, 24, 24, 0.5333333333);
  backdrop-filter: blur(8px);
  font-size: 1.4rem;
  padding: 2rem 3rem;
  color: #999999;
  border: 1px solid #666666;
  border-radius: 0.5rem;
  text-align: end;
}
section.initial .quote p {
  letter-spacing: 0.2px;
  word-spacing: 2px;
}
section.initial .quote span {
  font-weight: 700;
  color: #E6E6E6;
}
section.initial .quote .autor {
  margin-top: 1.2rem;
  font-size: 1rem;
}
section.initial .row {
  width: 100%;
  display: flex;
  gap: 3rem;
  justify-content: end;
  position: relative;
  z-index: 5;
  margin-top: 4rem;
}
section.initial .back {
  width: 30rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: opacity 5s;
}
section.initial .back::before {
  content: "";
  display: block;
  width: 50rem;
  height: 50rem;
  position: absolute;
  bottom: -13rem;
  left: 3rem;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5333333333) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50%;
  filter: blur(50px);
}
section.initial .back::after {
  content: "";
  display: block;
  width: 50rem;
  height: 50rem;
  position: absolute;
  bottom: -10rem;
  left: -20rem;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4666666667) 0%, rgba(118, 118, 118, 0) 50%, rgba(118, 118, 118, 0) 100%);
  border-radius: 50%;
}
section.initial .back img {
  position: absolute;
  bottom: -13rem;
  left: 0px;
  width: 100%;
  transform: rotate(16deg);
}
section.initial .header, section.initial .wrapper-quote, section.initial .row {
  position: relative;
  z-index: 20;
}

section.our {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5333333333) 0%, #141414 50%);
}
section.our .wrapper {
  padding: 10rem 0 5rem;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
}
section.our .header .title span {
  font-size: 4.5rem;
  background: linear-gradient(90deg, #FA544F 0%, #F7BA44 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 25px rgba(249, 126, 74, 0.8);
}
section.our .header p {
  text-align: center;
  max-width: 1000px;
}
section.our .content {
  position: relative;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
section.our .content .img {
  position: relative;
  width: 54rem;
  height: 19rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
section.our .content .img::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../assets/svg/ellipse-dotted.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  animation: rotate0 40s linear infinite;
}
section.our .content .img:first-child {
  background-image: url("../assets/svg/top-design-ourSection.svg");
}
section.our .content .img:first-child::before {
  width: 17.2rem;
  height: 17.2rem;
  left: calc(50% - 8.6rem);
  top: 0.3rem;
}
section.our .content .img:last-child {
  background-image: url("../assets/svg/bottom-design-ourSection.svg");
}
section.our .content .img:last-child::before {
  width: 14.76rem;
  height: 14.76rem;
  left: calc(50% - 7.35rem);
  bottom: 0.6rem;
  animation-direction: reverse;
}
section.our .content .paragraphs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.8rem;
  text-align: center;
  font-weight: 300;
  color: #E6E6E6;
  line-height: 2rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}
section.our .content .paragraphs .arrow {
  display: none;
}
section.our .content .paragraphs p {
  background-color: #222;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 4px double #666;
  width: 31rem;
}
section.our .content .paragraphs span {
  font-weight: 700;
  color: #fff;
}

section.groups {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5333333333) 0%, #141414 50%);
}
section.groups .wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
section.groups .header .title span {
  background: linear-gradient(90deg, #7D22C2 0%, #F40082 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
section.groups .header > p {
  max-width: 1000px;
  text-align: center;
}
section.groups .content {
  position: relative;
  margin-top: 5rem;
  padding: 5rem 0;
  display: grid;
  place-items: center;
  row-gap: 10rem;
  grid-template-columns: 1fr 1fr;
}
section.groups .content .group {
  position: relative;
  display: grid;
  row-gap: 1rem;
  width: fit-content;
  grid-auto-rows: auto;
}
section.groups .content .group .back {
  height: 18rem;
  width: 18rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #666666;
  border-radius: 50%;
  background-color: rgba(24, 24, 24, 0.5);
  backdrop-filter: blur(2px);
  z-index: 10;
}
section.groups .content .group .circle {
  height: 18rem;
  width: 18rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
section.groups .content .group .circle::before {
  content: "";
  display: block;
  width: 20%;
  height: 20%;
  position: absolute;
  bottom: 12px;
  right: 12px;
  z-index: -1;
  border: 1px solid #B3B3B3;
  border-radius: 50%;
  filter: blur(1px);
  transform-origin: -4.5rem -4.5rem;
  transform: rotate(0deg);
  animation: rotate0 50s linear infinite;
}
section.groups .content .group .circle::after {
  content: "";
  display: block;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
  filter: blur(5px);
  transform-origin: 8.5rem 8.5rem;
  transform: rotate(0deg);
  animation: rotate0 50s linear infinite;
}
section.groups .content .group h1 {
  font-size: 1.6rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  z-index: 20;
}
section.groups .content .group h1 img {
  width: 1.6rem;
}
section.groups .content .group p {
  font-size: 0.9rem;
  color: #B3B3B3;
  width: 90%;
  z-index: 20;
}
section.groups .content .group > a {
  height: 2.8rem;
  width: fit-content;
  gap: 0.5rem;
  padding: 0 1.5rem;
  border-radius: 1.4rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: #141414;
  z-index: 20;
}
section.groups .content .group h1, section.groups .content .group p, section.groups .content .group > a {
  opacity: 0.8;
}
section.groups .content .group > img {
  align-self: center;
  width: 14rem;
  border-radius: 50%;
  border: 2px solid #CCCCCC;
  z-index: 20;
  filter: brightness(0.7);
  transition: filter 0.4s;
}
section.groups .content .group:hover > img {
  filter: brightness(1) contrast(1.1) saturate(1.1);
}
section.groups .content .group:hover > h1, section.groups .content .group:hover > p, section.groups .content .group:hover > a {
  opacity: 1;
}
section.groups .content .group:nth-child(odd) {
  text-align: right;
  justify-items: end;
  grid-template-columns: auto 16rem;
}
section.groups .content .group:nth-child(odd) h1 {
  grid-column: 2;
  grid-row: 1;
}
section.groups .content .group:nth-child(odd) p {
  grid-column: 2;
  grid-row: 2;
}
section.groups .content .group:nth-child(odd) a {
  grid-column: 2;
  grid-row: 3;
}
section.groups .content .group:nth-child(odd) img {
  grid-column: 1;
  grid-row: 1/4;
}
section.groups .content .group:nth-child(even) {
  grid-template-columns: 16rem auto;
}
section.groups .content .group:nth-child(even) h1 {
  grid-column: 1;
  grid-row: 1;
}
section.groups .content .group:nth-child(even) p {
  grid-column: 1;
  grid-row: 2;
}
section.groups .content .group:nth-child(even) a {
  grid-column: 1;
  grid-row: 3;
}
section.groups .content .group:nth-child(even) img {
  grid-column: 2;
  grid-row: 1/4;
}
section.groups .content::before {
  content: "";
  display: block;
  width: 1rem;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../assets/svg/vertical-line-down.svg");
  background-position: center bottom;
  background-size: 0.8rem auto;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
}
section.groups .content::after {
  content: "";
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E6E6E6;
  border-radius: 50%;
  transition: background-color 3s;
}
section.groups .row {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
section.groups .row > a {
  width: fit-content;
}

section.community .wrapper {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
section.community .header, section.community p,
section.community .stats {
  width: 48%;
}
section.community .header {
  align-items: flex-start;
}
section.community .header .title span {
  background: linear-gradient(90deg, #09CB85 0%, #EAD625 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
section.community p {
  line-height: 2rem;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #B3B3B3;
}
section.community p span {
  color: #fff;
  font-weight: 700;
}
section.community .stats {
  display: flex;
  gap: 4rem;
}
section.community .stats .stat {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  align-items: center;
}
section.community .stats .stat span:first-child {
  font-size: 1.3rem;
  font-variant-numeric: tabular-nums;
  color: #E6E6E6;
}
section.community .stats .stat span:last-child {
  color: #808080;
}
section.community .img-wrapper {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  height: 24rem;
}
section.community .img-wrapper img {
  height: 100%;
}
section.community .img-wrapper .ping {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #81D152;
  box-shadow: 0 0 5px 1px #b5ff8b;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
}
section.community .img-wrapper .ping:nth-child(2) {
  top: 48.6%;
  left: 12%;
  animation: map-move 20s linear infinite;
}
section.community .img-wrapper .ping:nth-child(3) {
  top: 48.6%;
  left: 12%;
  animation: map-move 20s linear 7s infinite;
}
section.community .img-wrapper .ping:nth-child(4) {
  top: 48.6%;
  left: 12%;
  animation: map-move 20s linear 14s infinite;
}

section.blog {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5333333333) 0%, #141414 50%);
}
section.blog .wrapper {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
section.blog .wrapper > .content {
  width: 100%;
  margin-top: 4rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}
section.blog .wrapper .header .title span {
  background: linear-gradient(90deg, #227FEB 0%, #31DBD8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
section.blog .wrapper .header > p {
  max-width: 1000px;
  text-align: center;
}
section.blog .wrapper .header .row {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 3rem;
}
section.blog .wrapper .header .row a {
  flex: 0 0 16rem;
}
section.blog .wrapper article.post {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #666666;
  transition: box-shadow 0.2s;
}
section.blog .wrapper article.post::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.2s;
  border-radius: 1rem;
  border: 2px solid #E6E6E6;
}
section.blog .wrapper article.post .img {
  width: inherit;
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}
section.blog .wrapper article.post .img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  opacity: 0.8;
  filter: grayscale(0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
section.blog .wrapper article.post .content {
  padding: 1.8rem 1.5rem;
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
section.blog .wrapper article.post .content .top {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #999999;
}
section.blog .wrapper article.post .content .title {
  font-size: 1.4rem;
  font-weight: 800;
  color: #fff;
}
section.blog .wrapper article.post .content .description {
  font-size: 0.9rem;
  line-height: 1.3rem;
  word-spacing: 1px;
}
section.blog .wrapper article.post:hover::after {
  width: calc(100% + 0.8rem);
  height: calc(100% + 0.8rem);
  top: calc(-0.4rem - 2px);
  left: calc(-0.4rem - 2px);
  border-radius: 1.45rem;
  opacity: 1;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3333333333);
}
section.blog .wrapper article.post:hover .img::after {
  filter: grayscale(0) saturate(1.1) contrast(1.1);
  opacity: 1;
  transform: scale(1);
}

footer .wrapper {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr auto;
  padding: 2rem 0;
}
footer .brand {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
footer .brand img:first-child {
  height: 3.5rem;
}
footer .brand img:last-child {
  height: 1.5rem;
}
footer .links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: 700;
}
footer .links a {
  padding: 1rem 2rem;
  color: #CCCCCC;
}
footer .links a:hover {
  color: #fff;
}
footer .copyright {
  font-size: 0.9rem;
  color: #999999;
}
footer .by {
  justify-self: end;
  font-size: 0.7rem;
  color: #666666;
}
footer .by a {
  color: #999999;
}
footer .by a:hover {
  color: #E6E6E6;
}

@media screen and (max-width: 1069px) {
  section.initial .wrapper > .back {
    opacity: 0.2;
  }
}
@media screen and (max-width: 1250px) {
  section.our .content .paragraphs p {
    width: 40%;
  }
}
/* Pantallas grandes (desktops de menos de 1200px) */
@media screen and (max-width: 1199px) {
  section.community .wrapper {
    align-items: center;
  }
  section.community .wrapper .header, section.community .wrapper p, section.community .wrapper .stats {
    width: 100%;
  }
  section.community .wrapper .header {
    align-items: center;
  }
  section.community .wrapper p {
    max-width: 50rem;
    text-align: center;
  }
  section.community .wrapper .stats {
    justify-content: center;
  }
  section.community .wrapper .img-wrapper {
    position: relative;
    top: initial;
    right: initial;
    transform: initial;
    width: fit-content;
  }
}
@media screen and (max-width: 1090px) {
  section.groups .content {
    grid-template-columns: 1fr;
    row-gap: 0;
  }
  section.groups .content .group:nth-child(n) > img {
    width: 11rem;
  }
  section.groups .content .group:nth-child(n) .circle, section.groups .content .group:nth-child(n) .back {
    width: 16rem;
    height: 16rem;
  }
  section.groups .content .group:nth-child(n) .circle::after {
    transform-origin: 7.8rem 7.8rem;
  }
  section.groups .content .group:nth-child(n) .circle::before {
    transform-origin: -4rem -4rem;
  }
  section.groups .content .group:nth-child(1),
  section.groups .content .group:nth-child(3) {
    justify-self: end;
  }
  section.groups .content .group:nth-child(2),
  section.groups .content .group:nth-child(4) {
    justify-self: start;
  }
  section.groups .content::before {
    opacity: 0.5;
  }
  section.groups .content::after {
    background-color: #666666;
  }
}
/* Pantallas medianas (tablets de menos de 992px) */
@media screen and (max-width: 991px) {
  section.our .content {
    gap: 5rem;
  }
  section.our .content .img:first-child {
    height: 18rem;
    background-image: url("../assets/svg/top-design-ourSection-mobile.svg");
  }
  section.our .content .img:first-child::before {
    width: 17.3rem;
    height: 17.3rem;
    left: calc(50% - 8.65rem);
  }
  section.our .content .img:last-child {
    height: 16rem;
    background-image: url("../assets/svg/bottom-design-ourSection-mobile.svg");
  }
  section.our .content .img:last-child::before {
    width: 15.3rem;
    height: 15.3rem;
    left: calc(50% - 7.65rem);
    bottom: 0.4rem;
    animation-direction: reverse;
  }
  section.our .content .paragraphs {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    position: relative;
  }
  section.our .content .paragraphs .arrow {
    content: "";
    display: block;
    height: 130%;
    width: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.our .content .paragraphs .arrow::after {
    content: "";
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    position: absolute;
    background-color: #E6E6E6;
    border-radius: 50%;
  }
  section.our .content .paragraphs .arrow:nth-child(1) {
    background-image: url("../assets/svg/arrow-up.svg");
    transform: translate(calc(-50% - 2rem), calc(-50% - 0.1rem));
  }
  section.our .content .paragraphs .arrow:nth-child(1)::after {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
  section.our .content .paragraphs .arrow:nth-child(2) {
    background-image: url("../assets/svg/arrow-down.svg");
    transform: translate(calc(-50% + 2rem), calc(-50% + 0.1rem));
    background-position: bottom;
  }
  section.our .content .paragraphs .arrow:nth-child(2)::after {
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }
  section.our .content .paragraphs p {
    width: 80%;
    z-index: 10;
  }
}
@media screen and (max-width: 860px) {
  header .menu, header .lateral-menu {
    display: flex;
  }
  header nav, header .session-options {
    display: none;
  }
}
/* Pantallas pequeñas (móviles en landscape de menos de 768px) */
@media screen and (max-width: 767px) {
  section.groups .content {
    row-gap: 4rem;
  }
  section.groups .content .group:nth-child(n) .circle, section.groups .content .group:nth-child(n) .back {
    width: 14rem;
    height: 14rem;
  }
  section.groups .content .group:nth-child(n) .circle::after {
    transform-origin: 6.8rem 6.8rem;
  }
  section.groups .content .group:nth-child(n) .circle::before {
    transform-origin: -3.5rem -3.5rem;
  }
  section.groups .content .group:nth-child(1),
  section.groups .content .group:nth-child(3) {
    justify-self: end;
  }
  section.groups .content .group:nth-child(2),
  section.groups .content .group:nth-child(4) {
    justify-self: start;
  }
  section.groups .content::before {
    opacity: 0.5;
  }
  section.groups .content::after {
    background-color: #666666;
  }
}
@media screen and (max-width: 650px) {
  section.community .wrapper .header {
    text-align: center;
  }
  section.community .wrapper .img-wrapper {
    width: 100%;
    height: auto;
  }
  section.community .wrapper .img-wrapper img {
    width: 100%;
    height: auto;
  }
  section.community .wrapper .img-wrapper .ping {
    width: 0.5rem;
    height: 0.5rem;
  }
}
/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media screen and (max-width: 575px) {
  section.initial .wrapper > .row {
    gap: 1rem;
    flex-direction: column;
  }
  section.initial .wrapper > .row a:first-child {
    align-self: flex-start;
  }
  section.initial .wrapper > .row a:last-child {
    align-self: flex-end;
    padding: 0 2.8rem;
  }
  section.our .content .paragraphs .arrow {
    height: 120%;
  }
}

/*# sourceMappingURL=style.css.map */
